.palette {
  flex-basis: 20%;
  composes: vertical from '../../shared/flexbox.css';
}

.list {
  flex-grow: 1;
  composes: buttonList from '../../shared/components.css';
  overflow: auto;
}

.item {
  flex: 1;
  max-width: 100%;
}

.dragholder {
  position: relative;
}
