.genericKey {
  composes: positiveBG from '../../../shared/colors.css';
  composes: serif from '../../../shared/tipography.css';
  border: none;
  font-size: 2rem;
  border-radius: 50%;
  height: 3rem;
  margin: .3rem;
  line-height: 3rem;
}

.key {
  composes: genericKey;
  width: 3rem;
}

.number {
  composes: serifAlternate from '../../../shared/tipography.css';
  font-weight: regular;
}

.key:active, .widekey:active {
  background: black;
  color: #fefaec;
}

.widekey {
  composes: genericKey;
  border-radius: 1rem;
}

.space {
  composes: widekey;
  background-image: url('/media/elements/B-Space-B.svg');
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
  width: 10rem;
  vertical-align: bottom;
}

.space:active {
  background-image: url('/media/elements/B-Space-W.svg');
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;

}

.negative {
  composes: negativeBG from '../../../shared/colors.css';
  composes: positive from '../../../shared/colors.css';
}

.caps {
}

.delete {
  background-image: url('/media/elements/B-Backspace-B.svg');
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
  width: 4rem;
  vertical-align: bottom;
}

.delete:active {
  background-image: url('/media/elements/b-Backspace-W.svg');
  background-size: 50%;
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
}


