
:global(body) {
    margin: 0;
    position: relative;
    height: 100%;
    overflow: hidden;
    /*cursor: none;*/
}

:global(html) {
  height:100%
}

:global(*:focus) {
    outline: none;
}

.app {
    composes: pastelBG from './shared/colors.css';
    position: absolute;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}
