
:global(body) {
    margin: 0;
    position: relative;
    height: 100%;
    /*cursor: none;*/
}

:global(html) {
  height:100%
}

.app {
    background: #ccc;
    position: absolute;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}