.canvas {
    flex-basis: 80%;
    height: 100%;
    composes: lightBG from '../../shared/colors.css';
    position: relative;
    box-sizing: border-box;
}

.coverImage {
    position: absolute;
    width: 100%;
    height: 100%;
}

.pattern{
    composes: coverImage;
}

.exterior{
    object-fit: cover;
    composes: coverImage;
}

.over {
    background: #444;
}

.figureCanvas {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.figure {
    max-width: 100%;
}

.trash {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    background: red;
    border-radius: 50%;
    padding: 1rem;
    z-index: 100000;
}

.icon {
    fill: white;
}