.canvas {
    flex-basis: 80%;
    height: 100%;
    composes: lightBG from '../../shared/colors.css';
    position: relative;
}

.coverImage {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.pattern{
    composes: coverImage;
}

.exterior{
    composes: coverImage;
}