.create {
  composes: horizontal from '../shared/flexbox.css';
  height: 100%;
}

.ok {
  position: absolute;
  top: calc(50% - 234px);
  left: calc(35% - 130px);
  z-index: 1000;
}

.okEnter {
  animation-name: okIn;
  animation-duration: 500ms;
}

.okEnterActive {
  animation-name: okIn;
  animation-duration: 500ms;
}

.okLeave {
  opacity: 1;
  transform: scale(1);
  transition: all 200ms ease-out;
}

.okLeaveActive {
  opacity: 0;
  transform: scale(0);
  transition: all 200ms ease-out;
}

@keyframes okIn {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  60% {
    transform: scale(1.4);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}

.point {
  position: absolute;
  top: calc(60% - 193px);
  left: calc(100% - 146px);
  z-index: 1000;
}

.pointEnter {
  animation-name: pointIn;
  animation-duration: 2000ms;
}

.pointEnterActive {
  animation-name: pointIn;
  animation-duration: 2000ms;
}

.pointLeave {
  opacity: 1;
  transform: scale(1);
  transition: all 200ms ease-out;
}

.pointLeaveActive {
  opacity: 0;
  transform: scale(0);
  transition: all 200ms ease-out;
}

@keyframes pointIn {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-3rem);
  }
  40% {
    transform: translateX(-1rem);
  }

  60% {
    transform: translateX(-3rem);
  }

  100% {
    transform: translateX(0);
  }
}

.funFact {
  position: absolute;
  z-index: 10000;
  composes: pastelBG from '../shared/colors.css';
  composes: serif from '../shared/tipography.css';
  font-size: 1.3rem;
  padding: 1rem;
  max-width: 36rem;
  top: 4rem;
  left: 2rem;
}

.funEnter {
  opacity: 0;
  transform: translateX(-30rem);
  transition: all 500ms ease-in;
}

.funEnterActive {
  opacity: 1;
  transform: translateX(0rem);
}

.funLeave {
  opacity: 1;
  transform: translateX(0rem);
  transition: all 200ms ease-in;
}

.funLeaveActive {
  opacity: 0;
  transform: translateX(-30rem);
}

.exit {
  composes: overlay from './Palette/Palette.css';
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.exit h2 {
  margin: 0;
}

.warning {
  composes: pastelBG from '../shared/colors.css';
  padding: 2rem 3rem;
  min-width: 40%;
  text-align: center;
}

.warningTitle {
  composes: serif from '../shared/tipography.css';
  composes: negative from '../shared/colors.css';
  font-size: 2rem;
}

.warningDesc {
  composes: serif from '../shared/tipography.css';
  font-size: 1.3rem;
}

.warningList {
  composes: buttonList from '../shared/components.css';
  display: flex;
  justify-content: center;
}

.warningButton {
  composes: button from '../shared/components.css';
  width: 4rem;
  height: 4rem;
  margin: 0 1rem;
  font-size: 1rem;
}
