.home {
  composes: verticalCenter from '../shared/flexbox.css';
  composes: positive from '../shared/colors.css';
  height: 100%;
  width: 100%;
  position: absolute;
}

.title {
  composes: bigTitle from '../shared/tipography.css';
  text-align: center;
  line-height: 5rem;
  margin: 0;
}

.subtitle {
  composes: subTitle from '../shared/tipography.css';
  font-weight: normal;
}

.highlight {
  composes: highlight from '../shared/tipography.css';
  max-width: 800px;
}

.buttonList {
  composes: buttonList from '../shared/components.css';
  composes: verticalCenter from '../shared/flexbox.css';
}

.mainButton {
  composes: button from '../shared/components.css';
  composes: verticalCenter from '../shared/flexbox.css';
  width: 12rem;
  height: 12rem;
  margin-bottom: 3rem;
  font-size: 1.2rem;
}

.mainSpan {
  margin-top: 1.7rem;
}

.iconImg {
  width: 3rem;
  height: 3rem;
}

.smallButton {
  composes: button from '../shared/components.css';
  line-height: 5rem;
  width: 5rem;
  height: 5rem;
  display: block;
  font-size: .7rem;
}

.videoBG {
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.i18n {
    position: absolute;
    z-index: 10000;
    right: 1rem;
    top: 1rem;
}

.i18nButton {
  composes: serif from '../shared/tipography.css';
  font-size: 2rem;
  background: transparent;
  border: none;
  color: white;
  opacity: .2;
}

.activeLang {
  opacity: 1;
}