.positive {
  color: #fefaeb;
}

.negative {
  color: black;
}

.cta {
  color: black;
}

.pastel {
  color: #b1afa5;
}

.positiveBG {
  background-color: #fefaeb;
}

.positiveFill {
  fill: #fefaeb;
}

.positiveStroke {
  stroke: #fefaeb;
}

.negativeFill {
  fill: black;
}

.negativeStroke {
  stroke: black;
}

.negativeBG {
  background-color: black;
}

.pastelBG {
  background-color: #b1afa5;
}

.ctaBG {
  background-color: blue;
}

.lightBG {
  background-color: #eeeeee;
}
