.buttonList {
  margin: 0;
  padding: 0;
  list-style: none;
}

.button {
  composes: serif from './tipography.css';
  composes: positive from './colors.css';
  composes: ctaBG from './colors.css';
  text-decoration: none;
  padding: 1rem;
  margin: .5rem;
  border: none;
}

.buttonDisabled {
  composes: button;
  background: #ccc;
  color: #333;
  opacity: .6;
}
