.buttonList {
  margin: 0;
  padding: 0;
  list-style: none;
}

.button {
  composes: serif from './tipography.css';
  composes: positive from './colors.css';
  composes: negativeBG from './colors.css';
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  border: none;
  border-radius: 50%;
  box-shadow: 0px 0px 5px #000;
}

.buttonDisabled {
  composes: button;
  background: #ccc;
  color: #333;
  opacity: .6;
}
