@import url("//hello.myfonts.net/count/347a79");
@import url('https://fonts.googleapis.com/css?family=Eczar');

@font-face {
  font-family: 'Maiola-Bold';
  src: url('../../../fonts/347A79_0_0.eot');
  src: url('../../../fonts/347A79_0_0.eot?#iefix') format('embedded-opentype'),
    url('../../../fonts/347A79_0_0.woff2') format('woff2'),
    url('../../../fonts/347A79_0_0.woff') format('woff'),
    url('../../../fonts/347A79_0_0.ttf') format('truetype');
}

@font-face {
  font-family: 'Maiola-BoldItalic';
  src: url('../../../fonts/347A79_1_0.eot');
  src: url('../../../fonts/347A79_1_0.eot?#iefix') format('embedded-opentype'),
    url('../../../fonts/347A79_1_0.woff2') format('woff2'),
    url('../../../fonts/347A79_1_0.woff') format('woff'),
    url('../../../fonts/347A79_1_0.ttf') format('truetype');
}

.serif {
  font-family: 'Maiola-Bold', serif;
  font-weight: normal;
}

.serifAlternate {
  font-family: 'Eczar', serif;
}

.italics {
  font-family: 'Maiola-BoldItalic', serif;
  font-style: italics;
}

.bigTitle {
  composes: serif;
  font-size: 5rem;
  letter-spacing: .1rem;
}

.subTitle {
  composes: italics;
  font-size: 2rem;
}

