.title {
  composes: bigTitle from '../shared/tipography.css';
  composes: positive from '../shared/colors.css';
  composes: negativeBG from '../shared/colors.css';
  margin: 0;
  padding: 2rem 4rem;
  font-size: 4rem;

}

.list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  flex-wrap: wrap;
}

.item {
  display: flex;
  flex-basis: calc(20% - 20px);
  flex-direction: column;
  margin: 20px 10px 0px 10px;
  background: #333;
}

.item a{
  text-decoration: none;
}

.item img {
  max-width: 100%;
}


.item:nth-child(even) {
  margin: 20px 10px 0px 10px;
}

.itemTitle {
  composes: positive from '../shared/colors.css';
  composes: serif from '../shared/tipography.css';
  background: rgba(0,0,0,.5);
  margin: 0;
  padding: 1rem;
  background-image: url('/media/elements/I-zoom.svg');
  background-repeat: no-repeat;
  background-position: center right 1rem;
  background-size: 2rem 2rem;
}

.home {
  position: absolute;
  bottom: calc(10% - 2.4rem);
  right: 4rem;
  width: 5rem;
  height: 5rem;
  z-index: 1000;
}

.control {
  stroke: black;
  fill: black;
}

.value {
  stroke: white;
  fill: none;
  transition: stroke-dashoffset 1s ease 0s;
}

.buttonImage {
  position: absolute;
  top: .8rem;
  left: 2rem;
  width: 3rem;
  height: 3rem;
  margin: 1rem 0 0 0;
}
