.gallery {
  display: flex;
  flex-direction: column;
  height: 100vh;
  composes: positiveBG from '../shared/colors.css';

}

.title {
  composes: bigTitle from '../shared/tipography.css';
  composes: positive from '../shared/colors.css';
  composes: negativeBG from '../shared/colors.css';
  margin: 0;
  padding: 2rem 4rem;
  font-size: 4rem;
}

.list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  flex-wrap: wrap;
  padding: 2rem 4rem;
  overflow: auto;
}

.item {
  display: flex;
  flex-basis: calc(25% - 20px);
  flex-direction: column;
  margin: 20px 10px 0px 10px;
  position: relative;
}

.item a{
  text-decoration: none;
}

.item img {
  max-width: 100%;
}


.item:nth-child(even) {
  margin: 20px 10px 0px 10px;
}

.itemTitle {
  composes: positive from '../shared/colors.css';
  composes: serif from '../shared/tipography.css';
  position: absolute;
  top: calc(50% - 2.5rem);
  left: calc(50% - 2.5rem);
  width: 5rem;
  height: 5rem;
  font-size: 2rem;
  margin: 0;
  background: rgba(0,0,0,.5);
  border-radius: 50%;
  text-align: center;
  line-height: 5.2rem;
  font-weight: normal;
}

.home {
  position: fixed;
  bottom: calc(10% - 2.4rem);
  right: 4rem;
  width: 5rem;
  height: 5rem;
  z-index: 1000;
}

.control {
  composes: negativeStroke from '../shared/colors.css';
  composes: negativeFill from '../shared/colors.css';
}

.value {
  composes: positiveStroke from '../shared/colors.css';
  fill: none;
  transition: stroke-dashoffset 1s ease 0s;
}

.buttonImage {
  position: absolute;
  top: .8rem;
  left: 2rem;
  width: 3rem;
  height: 3rem;
  margin: 1rem 0 0 0;
}
